@keyframes slideAnimation {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        transform: translateX(15px);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #40436c;
}
.container{
    animation: slideAnimation 1s ease-out;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #640D5F;
    width: 500px;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
}
.list-animation {
    animation: slideAnimation 1s ease-out;
    animation-fill-mode: forwards;
}
.list-remove-animation {
    animation: slideOut 1s ease-out;
}
.task {
    box-shadow: 1px 5px 10px,grey;
}

.lists li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: #F78D60;
    width:270px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 50px;
    overflow-wrap: anywhere;
    border-radius: 10px;
    font-family: sans-serif;
}
.btn-container{
    display: flex;
}

.btn-container .add-btn, .remove-btn {
    background-color: #EA2264;
    font-size: 17px;
    padding-bottom: 6px;
}

.done {
    text-decoration-line: line-through;
}