@keyframes slideAnimation {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        transform: translateX(15px);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}
@keyframes bodyGradient {
    0% {
        background-position: left;
        background-size: 200%;
    } 
    50% {
        background-position: right;
        background-size: 200%;
        
    }
    100% {
        background-position: left;
        background-size: 200%;
    }
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient( to right, #415E72, #17313E);
    background-size: contain;
    animation: bodyGradient 3s infinite linear;
}
.container{
    animation: slideAnimation 1s ease-out;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17313E;
    width: 500px;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
}
.list-animation {
    animation: slideAnimation 1s ease-out;
    animation-fill-mode: forwards;
}
.list-remove-animation {
    animation: slideOut 1s ease-out;
}
.task {
    box-shadow: 1px 5px 10px,grey;
    border-radius: 10px;
    height: 28px;
}

.lists li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: #2f4f5f;
    width:270px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 50px;
    overflow-wrap: anywhere;
    border-radius: 10px;
    font-family: sans-serif;
}
.span-text {
    padding-left: 15px;
    font-family: sans-serif;
}
.btn-container{
    display: flex;
}

.btn-container .add-btn, .remove-btn {
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 6px;
}

.done {
    text-decoration-line: line-through;
}

.text-color {
    color:rgb(219, 219, 219);
}